:root {
  --purple: #4e0ed6;
  --red: #f05353;
  --light-red: #ffeded;
  --yellow: #dbbd53;
  --light-yellow: #fffbed;
  --green: #36b22b;
  --light-green: #eef9e9;
  --light-blue: #ebefff;
  --blue: #384aa6;
  --dark-blue: #2e2d56;
  --grey: #c2c2c2;
  --bg-gradient: #6821ff #3b00b9;
}
